<div class="jumbotron">
  <div class="container">
    <div class="row">
      <h1>Register for a dashing dashboard</h1>
    
      <div class="col-md-6">

      <%= form_for(user) do |f| %>

        <% if user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
            <% user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        
        <div class="form-group">
          <%= f.label :username, 'Email Address' %>
          <%= f.text_field :username, autofocus: true, class: 'form-control', placeholder: 'Email Address' %>          
        </div>
        <div class="form-group">
          <%= f.label :password, 'Password*' %>
          <%= f.text_field :password, class: 'form-control', placeholder: 'Password' %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, 'Password*' %>
          <%= f.text_field :password_confirmation, class: 'form-control', placeholder: 'Confirm Password' %>         
        </div>

        <button type="submit" class="btn btn-primary btn-lg">Create my account</button>

      <% end %>                    
               
      </div>
    </div>
   </div>
</div>  