<p id="notice"><%= notice %></p>

<h1>Autos</h1>


  

  <div class="container">
    
    <div class="row">
    
      <% @autos.each do |auto| %>    
      <div class="col-xs-12 col-lg-6">
        
        <div class="auto_preview">
   
          <h2 class="text-center"><%= link_to auto.title, auto %></h2>

          <div class="row text-center auto_preview_stats">
            <!--<div class="col-sm-3 auto_preview_img ">
              <img src="http://placehold.it/200x150">
            </div>-->
            
            <div class="col-sm-4 ">
              <p>            
                <strong><%= auto.get_overall_mpg %></strong>
              </p>
              <p>
                MPG
              </p>
            </div>
            
            <div class="col-sm-4 ">
              <p>            
                <strong>$<%= auto.get_most_recent_mpg %></strong>
              </p>
              <p>
                Last MPG
              </p>
            </div>

            <div class="col-sm-4 ">
              <p>            
                <strong>$<%= auto.get_cost_per_mile %></strong>
              </p>
              <p>
                Cost Per Mile
              </p>
            </div>            
          </div> 
          
          
          <div class="row top-buffer text-center">
          <div class="auto_preview_stats_minor">
          
            <div class="col-sm-3">
              <p>            
                <%= auto.get_cost_per_mile %>
              </p>
              <p>
                Best MPG
              </p>
            </div>   

            <div class="col-sm-3">
              <p>            
                <%= auto.get_cost_per_mile %>
              </p>
              <p>
                Best MPG
              </p>
            </div> 

            <div class="col-sm-3">
              <p>            
                <%= auto.get_cost_per_mile %>
              </p>
              <p>
                Best MPG
              </p>
            </div> 

            <div class="col-sm-3">
              <p>            
                <%= auto.get_cost_per_mile %>
              </p>
              <p>
                Best MPG
              </p>
            </div> 
            
          </div>
          </div>
    
        </div>

      </div>    
      <% end %>       
      
    </div>
     
  </div> 
  
 
  
  
  
  <% @autos.each do |auto| %>
  
  <table>
   <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th>Odometer</th>
      <th>MPG</th>
      <th>Last MPG</th>
      <th>Cost Per Mile</th>      
      <th colspan="2">&nbsp;</th>
    </tr>
   </thead>
   
   <tbody>
      <tr>
        <td><%= link_to auto.title, auto %></td>
        <td><%= auto.user.username rescue "No user" %></td>
        <td><%= auto.current_odometer %></td>
        <td><%= auto.get_overall_mpg %></td>
        <td><%= auto.get_most_recent_mpg %></td>
        <td><%= auto.get_cost_per_mile %></td>                
        <td><%= link_to 'Edit', edit_auto_path(auto) %></td>
        <td><%= button_to 'Destroy', auto, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
   </tbody>
  </table>

<% end %>









  
  
  
<br>

<%= link_to 'New auto', new_auto_path %>