<p id="notice"><%= notice %></p>

<h1>Vehicles</h1>


  

  <div class="container">
    

    
    <% @autos.each do |auto| %>    
    <div class="row">     
      <div class="col-xs-12">
      
        <%= link_to auto do %>
        <div class="auto_preview linkable">
   
          <h2 class="text-center"><%= auto.title %></h2>

          <div class="row text-center auto_preview_stats">
            <div class="col-xs-image-4 auto_preview_img dashboard-vehicle-image car"">
            </div>
            
            <div class="col-xs-8 "> 
              
              
                <div class="row">
                
                  <div class="col-xs-6 ">          
                      <strong><%= auto.get_overall_mpg %></strong>
                    <em>
                      MPG
                    </em>
                  </div>
                  
                  <!--<div class="col-xs-4 ">       
                      <strong>$<%= auto.get_most_recent_mpg %></strong>
                    <em>
                      Last MPG
                    </em>
                  </div>-->

                  <div class="col-xs-6 ">          
                      <strong>$<%= auto.get_cost_per_mile %></strong>
                    <em>
                      Cost Per Mile
                    </em>
                  </div> 
                  
                </div> 
                
                
                <div class="row top-buffer text-center">
                  <div class="auto_preview_stats_minor">
                  
                    <div class="col-xs-3">
                      <%= number_with_delimiter(auto.current_odometer) %>
                      <em>
                        Odometer
                      </em>
                    </div>   

                    <div class="col-xs-3">
                      <%= auto.get_previous_mpg %>
                      <em>
                        Last MPG
                      </em>
                    </div> 

                    <div class="col-xs-3">
                      <%= auto.get_best_mpg %>
                      <em>
                        Best MPG
                      </em>
                    </div> 

                    <div class="col-xs-3">
                      <%= number_to_currency( auto.get_fuel_total_cost, precision: 2) %>
                      <em>
                        Fuel Cost
                      </em>
                    </div> 
                    
                  </div>                
                </div>

             
            
            </div>
            
          </div>
          
          
          <div class="row text-center auto_reminders">
            <% auto.get_active_reminders.each do |reminder| %>    
            <div class="col-xs-12">
              <%= reminder.service_type.name %>
              <%= reminder.miles %>
              <%= reminder.time %>                      
            </div>
            <% end %>
          </div>
          
        </div>        
        <% end %>

      </div>   
      
    </div>      
      <% end %> 
             
      
    </div>
     
  </div> 
  
 
  
  
  <% if false %>
  <% @autos.each do |auto| %>
  
  <table class="table table-condensed table-striped table-bordered">
   <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th>Odometer</th>
      <th>MPG</th>
      <th>Last MPG</th>
      <th>Cost Per Mile</th>      
      <th colspan="2">&nbsp;</th>
    </tr>
   </thead>
   
   <tbody>
      <tr>
        <td><%= link_to auto.title, auto %></td>
        <td><%= auto.user.username rescue "No user" %></td>
        <td><%= auto.current_odometer %></td>
        <td><%= auto.get_overall_mpg %></td>
        <td><%= auto.get_most_recent_mpg %></td>
        <td><%= auto.get_cost_per_mile %></td>                
        <td><%= link_to 'Edit', edit_auto_path(auto) %></td>
        <td><%= button_to 'Destroy', auto, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
   </tbody>
  </table>

<% end %>


<% end %>








  
  
  
<br>
<%= link_to 'New Auto',  new_auto_path, :class => "btn btn-primary btn-lg active blue", :role => "button" %>      