<article>
  <header>
   <h2>
     <%= @auto.title %>
     [ <%= link_to 'Edit', edit_auto_path(@auto) %> ]
   </h2>
  </header>
  
  <h3>Title:</h3>
  <p><%= @auto.title %></p>
  
  <h3>User:</h3>
  <p>User: <%= h(@auto.user.username) rescue 'No user found' %></p>
  
  <h3>Make</h3>
  <p><%= @auto.make %></p>
  
  <h3>Model</h3>
  <p><%= @auto.model %></p>
  
  <h3>Year</h3>
  <p><%= @auto.auto_year %></p>
  
  <h3>Odometer</h3>
  <p><%= @auto.current_odometer %></p>
  
  <h3>Oil Change Frequency</h3>
  <p><%= @auto.oil_change_frequency %></p>
  
  <h3>Tire Rotation Frequency</h3>
  <p><%= @auto.tire_rotation_frequency %></p>
 
  <h3>MPG</h3>
  <p><%= @auto.get_overall_mpg %></p> 

  <h3>Last MPG</h3>
  <p><%= @auto.get_most_recent_mpg %></p> 

  <h3>Cost Per Mile</h3>
  <p><%= @auto.get_cost_per_mile %></p> 

  <h3>Miles</h3>
  <p><%= @auto.get_miles_logged %></p> 

  <h3>Total Fuel Cost</h3>
  <p><%= @auto.get_fuel_total_cost %></p> 

  <h3>Total Service Cost</h3>
  <p><%= @auto.get_service_total_cost %></p>
 
</article>

<p><%= link_to 'Back', autos_path %></p>