<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
      
        <h2><strong>Fuel Log</strong></h2>
        
        <h3><strong>Auto:</strong> <%= h(@fuellog.auto.title) rescue 'No auto found' %></h3>
        <h3><strong>Date:</strong> <%= @fuellog.log_date %></h3>      
        <h3><strong>Odometer:</strong> <%= @fuellog.odometer %></h3>        
        <h3><strong>PPG:</strong> <%= @fuellog.ppg %></h3>
        <h3><strong>Gallons:</strong> <%= @fuellog.gallons %></h3>
        <h3><strong>Total Cost:</strong> <%= @fuellog.total_cost %></h3>

           
        <p>
          <%= link_to 'Back', fuellogs_path, :class => "btn btn-default btn-lg", :role => "button" %>
          <%= link_to 'Edit', edit_fuellog_path(@fuellog), :class => "btn btn-primary btn-lg active blue", :role => "button" %>      
        </p>
 
    </div>
  </div>
</div>
    
  <% if false %>    
<article>
 <header>
	<h2>
		<%= @fuellog.log_date %>
		[ <%= link_to 'Edit', edit_fuellog_path(@fuellog) %> ]
	</h2>
 </header>
 
 <h3>Odometer:</h3>
 <p><%= @fuellog.odometer %></p>
 
 <p>Auto: <%= h(@fuellog.auto.title) rescue 'No auto found' %></p>
 
 <h3>PPG</h3>
 <p><%= @fuellog.ppg %></p>
 
 <h3>Gallons</h3>
 <p><%= @fuellog.gallons %></p>
 
 <h3>Total Cost</h3>
 <p><%= @fuellog.total_cost %></p>
 
</article>

<p><%= link_to 'Back', fuellogs_path %></p>

  <% end %>