<div class="jumbotron">
  <div class="container">
    <div class="row">
      <h1>Service Log Modification</h1>
    
      <div class="col-md-6">

      <%= form_for(servicelog) do |f| %>
        <% if servicelog.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(servicelog.errors.count, "error") %> prohibited this servicelog from being saved:</h2>

            <ul>
            <% servicelog.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
          
          <div class="form-group">
            <%= f.label :auto_id, 'Auto identifier' %>
            <%= f.select :auto_id, @autos, {include_blank: true}, class: 'form-control' %>           
          </div>
          <div class="form-group">
            <%= f.label :log_date, 'Log Date' %>
            <%= f.date_field :log_date, class: 'form-control', placeholder: 'Log Date' %> 
          </div>
          <div class="form-group">
            <%= f.label :odometer, 'Odometer' %>
            <%= f.text_field :odometer, class: 'form-control', placeholder: 'Odometer' %> 
          </div>
          <div class="form-group">
            <%= f.label :service_type_id, 'Price Per Gallon' %>
            <%= f.select :service_type_id, @service_types, {include_blank: true}, class: 'form-control' %>        
          </div>
          <div class="form-group">
            <%= f.label :total_cost, 'Total Cost' %>
            <%= f.text_field :total_cost, class: 'form-control', placeholder: 'Total Cost' %> 
          </div>
          <div class="form-group">
            <%= f.label :notes, 'Notes' %>
            <%= f.text_area :notes, class: 'form-control', placeholder: 'Notes' %> 
          </div>
          
          <button type="submit" class="btn btn-primary btn-lg">Save</button>

      <% end %>                    
               
      </div>
    </div>
  </div>
</div> 



  <% if false %>  
<%= form_for(servicelog) do |f| %>
  <% if servicelog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(servicelog.errors.count, "error") %> prohibited this servicelog from being saved:</h2>

      <ul>
      <% servicelog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :auto_id %><br />
    <%= f.select :auto_id, @autos, :include_blank => true %>
  </div>
  
  <div class="field">
    <%= f.label :log_date %>
    <%= f.date_field :log_date %>
  </div>

  <div class="field">
    <%= f.label :odometer %>
    <%= f.text_area :odometer %>
  </div>
  
  <div class="field">
   <%= f.label :service_type_id %><br />
   <%= f.select :service_type_id, @service_types, :include_blank => true %>
  </div>  
  
  <div class="field">
    <%= f.label :total_cost %>
    <%= f.text_area :total_cost %>
  </div>
  
  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>
   
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
<% end %>