<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
      
        <h2><strong>Service Log</strong></h2>
        
        <h3><strong>Auto:</strong> <%= h(@servicelog.auto.title) rescue 'No auto found' %></h3>
        <h3><strong>Date:</strong> <%= @servicelog.log_date %></h3>      
        <h3><strong>Odometer:</strong> <%= @servicelog.odometer %></h3>        
        <h3><strong>Service Type:</strong> <%= h(@servicelog.service_type.name) rescue 'No service found' %></h3>
        <h3><strong>Total Cost:</strong> <%= @servicelog.total_cost %></h3>
        <h3><strong>Notes:</strong> <%= @servicelog.notes %></h3>

           
        <p>
          <%= link_to 'Back', servicelogs_path, :class => "btn btn-default btn-lg", :role => "button" %>
          <%= link_to 'Edit', edit_servicelog_path(@servicelog), :class => "btn btn-primary btn-lg active blue", :role => "button" %>      
        </p>
 
    </div>
  </div>
</div>
    
  <% if false %>  
  
  
<article>
 <header>
	<h2>
		<%= @servicelog.log_date %>
		[ <%= link_to 'Edit', edit_servicelog_path(@servicelog) %> ]
	</h2>
 </header>
 
 <p>Auto: <%= h(@servicelog.auto.title) rescue 'No auto found' %></p>
 
 <h3>Odometer:</h3>
 <p><%= @servicelog.odometer %></p>
 
 <p>Service Type: <%= h(@servicelog.service_type.name) rescue 'No service found' %></p>
 
 <h3>Total Cost</h3>
 <p><%= @servicelog.total_cost %></p>

 <h3>Notes</h3>
 <p><%= @servicelog.notes %></p>
 
 
</article>

<p><%= link_to 'Back', servicelogs_path %></p>

  <% end %>