<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<div class="container">
		<header>
			<h1>Auto Dashboard</h1>
		</header>
		<main class="content">
			<nav>
				<%= link_to 'Home', root_url %>
        
        <% if logged_in? %>
          <%= link_to 'Profile', edit_user_path(current_user.id) %>
        <% else %>
          <%= link_to 'Register', new_user_path %>
        <% end %>
				
        <%= link_to 'Autos', autos_url %>
				<%= link_to 'Fuel Logs', fuellogs_url %>
				<%= link_to 'Service Logs', servicelogs_url %>
			</nav>
			
			<% if notice %>
				<div id="notice">
					<%= notice %>
				</div>
			<% end %>
      
      <p id="notice"><%= notice %></p>  

      <% if current_user %>
        Signed in as <%= current_user.username %> | <%= link_to "Logout", '/logout' %>
      <% else %>
        <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
      <% end %>




			<%= yield %>
		</main>
		<footer>
			<h4>Copyright <%=Date.today.year %> AutoDash</h4>
		</footer>
	</div>
  </body>
</html>
